/*Documento CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* border:red 1px solid */
}

body {
  height: 100vh;
  min-height: 340vh;
  background-image: url("image/fundo.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#linetop {
  position: sticky;
  width: 100%;
  top: 0;
}
header {
  background-color: lightblue;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url("image/fund1.avif");
  background-size: cover;
}
header figure {
  width: 180px;
  height: 150px;
  margin-right: 7%;
}
img {
  width: 300px;
}
header h1 {
  font-size: 90px;
  font-family: "Abril Fatface";
  justify-content: center;
  color: white;
}

nav {
  background-color: black;
  display: flex;
  justify-content: center;
  background-size: contain;

  position: sticky;
  top: 0px;
  z-index: 1;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}
nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}
#nav1 {
  border-bottom: 5px solid darkgray;
}
#nav2 {
  margin-left: 150px;
  border-bottom: 5px solid darkgray;
}
#nav3 {
  margin-left: 150px;
  border-bottom: 5px solid darkgray;
}
#nav4 {
  margin-left: 150px;
  border-bottom: 5px solid darkgray;
}
nav ul li a:hover {
  background-color: darkgrey;
  border-bottom: 5px solid white;
}
#parte1 {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#parte2 {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 }
#parte3 {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }
#parte4 {
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }
.card {
  width: 300px;
  height: 470px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: -1px -1px 10px black, 1px -1px 10px black, -1px 1px 10px black,
    1px 1px 10px black;
  background-color: white;
  transition-duration: 0.5s;
}
.card:hover {
  scale: 1.01;
}

.card figure {
  width: 290px;
  height: 260px;
  background-color: black;
  border-radius: 10px;
  background-size: 100%;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
.card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.text {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}
.desc {
  text-align: center;
  color: black;
  font-weight: 300;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.btn {
  padding: 10px 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  background-color: #fa7f72;
  transition: 0.5s;
}
.btn:hover {
transition: 0.5s;
background-color: #a04d44;
cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
footer {
  display: flex;
  background-color: black;
  width: 250px;
  height: 40px;
  margin-right: 172.08672086720867vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
footer h1 {
 margin-left:5px ;
 color:white;
 font-family: 'Poppins', sans-serif;
 font-size: 17pt;
 padding-top: 5px;
}
#nome {
  display: flex;
  justify-content: space-around;
  background-color: pink;
  width: 100%;
  height: 50px;
  border-radius: 0PX;
  padding-bottom: 5px;
}
#nome h2 {
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  color: black;
  font-size: 11pt;
  font-family: 'Poppins', sans-serif;
}
.coluna {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}
.txt-esc {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
